@model DoAnAsp.Areas.Admin.Models.HoaDonModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: white; padding-left:20px;">Edit</h1>

<h4 style="color: white; padding-left:20px;">HoaDonModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" style="color: white; padding-left:20px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHD" style="border: solid 1px white;"/>
            <div class="form-group">
                <label asp-for="NgaylapHD" class="control-label"></label>
                <input asp-for="NgaylapHD" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="NgaylapHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thanhtien" class="control-label"></label>
                <input asp-for="Thanhtien" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Thanhtien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Trangthai" style="border: solid 1px white;"/> @Html.DisplayNameFor(model => model.Trangthai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="background-color:aqua; color:black; font-size:20px;"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="padding-left:20px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
