@model DoAnAsp.Areas.Admin.Models.SanPhamModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: white; padding-left:20px;">Create</h1>

<h4 style="color: white; padding-left:20px;">SanPhamModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" style="color: white; padding-left:20px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" style="border: solid 1px white;" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donvitinh" class="control-label"></label>
                <input asp-for="Donvitinh" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Donvitinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluongton" class="control-label"></label>
                <input asp-for="Soluongton" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Soluongton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNCC" class="control-label"></label>
                <input asp-for="IdNCC" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="IdNCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLSP" class="control-label"></label>
                <input asp-for="IdLSP" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="IdLSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <input asp-for="Mota" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Trangthai" style="border: solid 1px white;"/> @Html.DisplayNameFor(model => model.Trangthai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color:aqua; color:black; font-size:20px;"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="padding-left:20px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
