@model DoAnAsp.Areas.Admin.Models.BinhLuanModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: white; padding-left:20px;">Create</h1>

<h4 style="color: white; padding-left:20px;">BinhLuanModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" style="color: white; padding-left:20px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Anh" for="ful" class="custom-file-label">Choose Image</label>
                <input type="file" name="ful" id="ful" class="custom-file-input" style="border: solid 1px white;"/>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noidung" class="control-label"></label>
                <input asp-for="Noidung" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngay" class="control-label"></label>
                <input asp-for="Ngay" class="form-control" style="border: solid 1px white;"/>
                <span asp-validation-for="Ngay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSP" class="control-label"></label>
                <select asp-for="IdSP" class="form-control" asp-items="@(new SelectList(ViewBag.IdSP,"IdSP","TenSP"))"
                        style="border: solid 1px white;"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color:aqua; color:black; font-size:20px;"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="padding-left:20px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
